# FrontEnd
node_modules/
dist/
out/
.DS_Store 

/build/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
CMakeCache.txt
CMakeFiles/
Makefile
*.user
*.suo
*.o
*.exe
*.out
*.dSYM/
*.tlog
*.obj
*.dds
*.dll
*.gguf
*.llamafile
*.safetensors

#model file
model/

#third party
vcpkg/