# FrontEnd
node_modules/
dist/
out/
.DS_Store 

/build/
CMakeCache.txt
CMakeFiles/
Makefile
*.user
*.suo
*.o
*.exe
*.out
*.dSYM/
*.tlog
*.obj
*.dds
*.dll
*.gguf
*.llamafile
*.safetensors

# Visual Studio
x64/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters

model/
